body {
  background-image: url("./body.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 98vw;
 
  background-attachment: fixed; /* Fixa a imagem de fundo */
}

.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
